* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0;
}

aqui se ven el diseño de la lista, fondos, bordes y demas,
ul li {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid rgb(201, 40, 40);
    border-left: 2px solid rgb(101, 253, 0);
    border-right: 2px solid rgb(174, 0, 255);
    background-color: rgb(104, 70, 70);
    transition: all 0.2s;
}

ul li:first-child {
    border-top: 2px solid rgb(18, 18, 19);
}

aqui se ve lo del cursor y su accion sobre la tabla,
ul li:hover {
    cursor:grab;
    background-color: rgb(155, 11, 11);
    transform: scale(1.1);
}


ul.menu {
    width: 100%;
    float: none;
}

ul.menu li {
    float: left;
    border-left: 2px solid rgb(54, 1, 247);
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(3, 3, 3);
    border-right: none;
}
ul.menu li:last-child {
    border-right: 2px solid rgb(156, 92, 216);
}
ul.menu li:hover {
    border-right: 2px solid rgb(156, 92, 216);
}

@media (max-width: 600px) {
    ul.menu {
        width: 200px;
        float: none;
    }
    ul.menu li {
        float: none;
    }
    ul.menu li:first-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    ul.menu li:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
   
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(0, 0, 0);
    }
    p span {color: red}
  }
